html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url(../img/Fondo.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.fondo-form{
    background-color: #002856eb;
    padding-top: 15%;
    padding-bottom: 10%;
}
.form-control{
    width: 80%;
    color: #FFDA00;
    border: 2px solid #FFDA00;
    background-color: transparent;
    border-radius: 8px;
    margin: auto;
    padding-left: 8%;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFDA00;
    opacity: 1; /* Firefox */
}
.form-control:focus{
    width: 80%;
    color: #FFDA00;
    border: 2px solid #FFDA00;
    background-color: transparent;
    border-radius: 8px;
    margin: auto;
    padding-left: 8%;
}
.content_sms{
    color: #fdda00;
    font-size: 2em;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 3%;
    width: 90%;
}
.content_sms span{
    font-size: 1.5em;
    display: block;

}
.grid-content{
    display: grid;
}
@media only screen and (max-width: 720px){
    .fondo-form{
        height: 100% !important;
        width: 100% !important;
    }
    .img_title ,.content-text{
        width: 100% !important;
    }
    .content_sms{
        font-size: 1em;
    }
}