html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url(../img/Fondo.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.fondo-form{
    background-color: #002856eb;
    padding-top: 10%;
    padding-bottom: 10%;
}
.form-control{
    width: 80%;
    border-radius: 8px;
    margin: auto;
    padding-left: 8%;
}

.content_sms{
    color: #fdda00;
    font-size: 2em;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 3%;
    width: 90%;
}
.content_sms span{
    font-size: 1.5em;
    display: block;

}
.grid-content{
    display: grid;
}
@media only screen and (max-width: 720px){
    .fondo-form{
        height: 100% !important;
        width: 100% !important;
    }
    .img_title ,.content-text{
        width: 100% !important;
    }
    .content_sms{
        font-size: 1em;
    }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  