<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="apple-touch-icon" sizes="57x57" href="./../Asset/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./../Asset/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./../Asset/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./../Asset/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./../Asset/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./../Asset/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./../Asset/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./../Asset/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./../Asset/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./../Asset/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./../Asset/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./../Asset/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./../Asset/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./../Asset/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../Asset/css/styles.css">
    <title>5B | Registro Conéctate</title>
  </head>
  <body id="app">
      
      
        <div id="alertModal" class="d-none alert alert-danger" >
          <button type="button" class="close" onClick="$('#alertModal').addClass('d-none');">&times;</button>
          <span id="ErrorMesagge">

          </span>
            </div>
            <div class="sidebar">
                <section class="cameras">
                  <h2>Cameras</h2>
                  <ul>
                    <li v-if="cameras.length === 0" class="empty">No cameras found</li>
                    <li v-for="camera in cameras">
                      <span v-if="camera.id == activeCameraId" :title="formatName(camera.name)" class="active">{{ formatName(camera.name) }}</span>
                      <span v-if="camera.id != activeCameraId" :title="formatName(camera.name)">
                        <a @click.stop="selectCamera(camera)">{{ formatName(camera.name) }}</a>
                      </span>
                    </li>
                  </ul>
                </section>
                <section class="scans">
                  <h2>Scans</h2>
                  <ul v-if="scans.length === 0">
                    <li class="empty">No scans yet</li>
                  </ul>
                  <transition-group name="scans" tag="ul">
                    <li v-for="scan in scans" :key="scan.date" :title="scan.content">{{ scan.content }}</li>
                  </transition-group>
                </section>
              </div>
    <div class="row h-100">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="d-flex h-100">
                <div class="d-block m-auto text-center">
                        <img class="w-25 responsive-margin-logo" src="../Asset/img/5B-conectate.png"> 
                        <img class="w-75 responsive-full-w" src="../Asset/img/Titulo.png">
                
                        <div class="row w-75 mx-auto text-light responsive-full-w responsive-mb-3 responsive-widht">
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 text-right d-block responsive-text responsive-widht">
                                    <div>Miercoles 21 de agosto</div>
                                    <div>09:00 horas</div>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center responsive-widht">
                                    
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOMAAADeCAMAAAD4tEcNAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVPbQZ/oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+A8W4AAH7AbJ4AAAAAElFTkSuQmCC" class="img-responsive" alt="Image"
                                    style="height: 50px;width:3px;">
                                    
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left responsive-text responsive-widht">
                                        <div>Tenedor del Cerro</div>
                                        <div>Antigua Guatemala</div>
                                </div>
                        </div>
                        <div class="w-50 mx-auto text-light mt-5 responsive-none">
                            <div class="d-block w-100 text-center">
                                <span>Organizado por:</span>
                            </div>
                            <div class="d-flex">
                                    <img class="ml-auto" src="./../Asset/img/Logo-5B.png">
                                    <img  class="mr-auto" src="./../Asset/img/Logo-Atefi.png">
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex">
            <div class="m-auto w-75 h-auto fondo-form shadow">
                
                <div class="video-wrap">
                    <video id="video" playsinline autoplay></video>
                </div>
    
                <!-- Trigger canvas web API -->
                <div class="controller">
                    <button id="snap">Capture</button>
                </div>
    
                <!-- Webcam video snapshot -->
                <canvas id="canvas" width="720" height="480"></canvas>
                
                    <div class="d-flex">
                        <div class="d-block mt-5 mx-auto text-center mb-3 content_data_contact">
                            <div class="text-light">
                                Asistencia para registro y código:
                            </div>
                            <div class="text-warning mt-3 responsive-margin">
                                contactcenter@5b.com.gt
                            </div>

                            <div class="text-warning">
                                Tel: (+502) 2420-7220
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="w-50 mx-auto text-light mt-5 only-responsive">
            <div class="d-block w-100 text-center">
                <span>Organizado por:</span>
            </div>
            <div class="d-flex">
                    <img class="ml-auto" src="./../Asset/img/Logo-5B.png">
                    <img  class="mr-auto" src="./../Asset/img/Logo-Atefi.png">
            </div>
        </div>
    </div>
    
    <div class="modal" id="loaderModal">
        <div style="height: 100%;text-align: center;" >
            <div class="lds-ring" style="align-self: center;margin-top: 15%;"><div></div><div></div><div></div><div></div></div>

        </div>
      </div>

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./../Asset/js/main.js"></script>
    <script src="./../Asset/js/events.js"></script>
    <script>
        'use strict';

        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const snap = document.getElementById("snap");
        const errorMsgElement = document.querySelector('span#errorMsg');

        const constraints = {
        audio: true,
        video: {
            width: 1280, height: 720
        }
        };

        // Access webcam
        async function init() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stream);
        } catch (e) {
            errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
        }
        }

        // Success
        function handleSuccess(stream) {
        window.stream = stream;
        video.srcObject = stream;
        }

        // Load init
        

        // Draw image
        var context = canvas.getContext('2d');
        snap.addEventListener("click", function() {
                context.drawImage(video, 0, 0, 720, 480);
                var foto = canvas.toDataURL(); //Esta es la foto, en base 64
                console.log("Enviando foto. Por favor, espera...");
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "./../php/bodega/operations.php?controller=subir/foto", true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.send(encodeURIComponent(foto)); //Codificar y enviar

                xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                        console.log("La foto fue enviada correctamente");
                        console.log(xhr);
                        console.log("Foto guardada con éxito. Puedes verla <a target='_blank' href='./" + xhr.responseText + "'> aquí</a>");
                    }
                }
        });
        </script>
    <script>
    </script>
  </body>
</html>
